<p>
  <form action="index.html" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name">
    <label for="email"> Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="text" name="password">
    <label for="confirm_password">Confirm Password</label>
    <input type="text" name="confirm_password">
    <label for="address">Street Address</label>
    <input type="text" name="address">
    <label for="unit">Unit/Apt #</label>
    <input type="text" name="unit">
    <label for="city">City:</label>
    <input type="text" name="city">
    <label for="state">State</label>
  </form>
</p>
